;; -*- Emacs-Lisp -*-
;;; emacs.config ---
;; Time-stamp: <2013-03-28 14:05:57 Thursday by lzy>

;; Copyright (C) 2013 chieftain
;;
;; Author: chieftain <lizhengyu419@gmail.com>
;; Keywords: none

;; This file is not part of GNU Emacs.

;; This program is free software; you can redistribute it and/or modify
;; it under the terms of the GNU General Public License as published by
;; the Free Software Foundation, either version 3 of the License, or
;; (at your option) any later version.

;; This program is distributed in the hope that it will be useful,
;; but WITHOUT ANY WARRANTY; without even the implied warranty of
;; MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
;; GNU General Public License for more details.

;; You should have received a copy of the GNU General Public License
;; along with this program.  If not, see <http://www.gnu.org/licenses/>.

;;; Commentary:

;;

;; Put this file into your load-path and the following into your ~/.emacs:
;;   (require 'emacs)

;;; Code:

(defconst my-emacs-path "_EMACS_DIR_"
  "root directory of emacs configuration files")
(defconst my-emacs-my-lisps-path
  (concat my-emacs-path "MyLisps/")
  "my configuration packages")
(defconst my-emacs-site-lisps-path
  (concat my-emacs-path "MySiteLisps/")
  "3rd-party configuration packages")
(defconst my-emacs-templates-path
  (concat my-emacs-path "Templates/")
  "templates for Template package")
(defconst my-emacs-snippets-path
  (concat my-emacs-path "Snippets/")
  "snippets for Yasnippet package")

(defun add-subdirs-to-load-path (dir)
  "Add files in dir recursively.
Add all files and sub-directories in dir
 to load-path"
  (let ((default-directory (concat dir "/")))
    (add-to-list 'load-path dir)
    (if (fboundp 'normal-top-level-add-subdirs-to-load-path)
        (normal-top-level-add-subdirs-to-load-path)
      (error "Your emacs is too old, please update to 23 or higher!"))))

;;; startup settings
;; add all files to load-path
(add-subdirs-to-load-path my-emacs-my-lisps-path)
(add-subdirs-to-load-path my-emacs-site-lisps-path)

;; user name and mail address
(setq user-full-name    "zhengyu li")
(setq user-mail-address "lizhengyu419@gmail.com")

(require 'LzyBasic)
(require 'LzyFont)
(require 'LzySetup)
(require 'LzyTheme)

;; debug
(toggle-debug-on-error)

;;; emacs.config ends here
